<div class="container-fluid footer">
	<div class="row">  
		<div class="col-md-4 col-sm-12 col-xs-12">
			<p>Copyright &copy; {{ site.time | date: '%Y' }} Walbottle Village Institute</p>
		</div>  
		<div class="col-md-8 col-sm-12 col-xs-12">
			<ul>
			<li><a href="{{'/wvi_access_map/' | relative_url}}" title="view the accessibility and site map page" target="_self" accesskey="s">Accessibility &amp; Site Map</a></li>
			<li><a href="{{'/wvi_privacy_cookie/' | relative_url}}" title="view our privacy and cookie policy" target="_self" accesskey="p">Privacy &amp; Cookie Policy</a></li>
			<li><a href="https://www.petersweb.me.uk" title="visit Peters Web in a new window" target="_blank">Website powered by Peters Web</a></li>
			<li><a href="https://clockwork-design.co.uk" title="visit Clockwork Design in a new window" target="_blank">Designed by Clockwork Design</a></li>
			</ul>
		</div>
	</div>
</div> <!-- /container -->
