<div class="container-fluid">
	<div class="row">
		<!--Nav-->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a href="{{ '/' | relative_url}}" title="Walbottle Village Institute home page" target="_self"><h1>Walbottle Village Institute</h1></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{ '/' | relative_url}}" title="home page" target="_self" class="t-home" accesskey="0">Home</a></li>
					  	<li><a href="{{'/wvi_events_calendar/' | relative_url}}" title="events at the institute" target="_self" class="t-events" accesskey="e">Events Calendar</a></li>
					  	<li><a href="{{'/wvi_groups/' | relative_url}}" title="group descriptions" target="_self" class="t-group" accesskey="g">Groups</a></li>
					  	<li><a href="{{'/about_wvi/' | relative_url}}" title="about Walbottle Village Institute" target="_self" class="t-about" accesskey="a">About</a></li>
					  	<li><a href="{{'/wvi_news/' | relative_url}}" title="latest institute news" target="_self" class="t-news" accesskey="n">News</a></li>
					  	<li><a href="{{'/contact_wvi/' | relative_url}}" title="contact Walbottle Village Institute" target="_self" class="t-contact" accesskey="c">Contact</a></li>
					  	<li><a href="https://www.facebook.com/walbottle" title="visit the WVI Facebook group in a new window" target="_blank" accesskey="f"><span>Facebook</span><img src="../assets/images/FB-logo.png" alt="Facebook icon"/></a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div>
</div> <!-- /container -->
